body
{
	font-family: Helvetica;
	background-color: white;
	line-height: 1.5;
}
.heading
{
	text-align: center;
	margin-top: 5rem;
}
.form
{
	text-align: center;
	margin : 3rem 0rem 3rem 0;
}
.form label
{
	font-weight: lighter;
	margin: 10px;
	font-size: 1.5rem;
	color: rgba(0,0,0,0.7);
}
.form input
{
	width: 50px;
	height: 30px;
	padding: 5px;
	margin : 10px;
	border: 0px;
	padding-left: 10px;
	font-size: 1.3rem;
	color: skyblue;
	border-left : 3px solid skyblue;
	border-right : 3px solid skyblue;
	border-radius: 10px;
	outline: none;
}
.form button
{
	background-color: skyblue;
	width: 100px;
	margin: 10px;
	height: 40px;
	border-radius: 10px;
	border : 0px;
	outline: none;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1.03rem;
	animation: textenlarge 1s infinite;
}
.form button:hover
{
	box-shadow: 0px 1px 3px black;
	animation: none;
}
.lorem
{
	width: 50%;
	margin: auto;
	text-align: center;
}
.lorem p
{
	color: rgb(0,0,0,0.7);
}
@keyframes textenlarge
{
	0% {font-size: 1.03rem}
	50% {font-size: 1.1rem}
	100% {font-size: 1.03rem}
}

